.venv
node_modules
__pycache__
.pytest_cache
.git/*
!.git/HEAD
!.git/refs
!.git/refs/**
!.git/packed-refs
.claude
.codex
.playwright-mcp
tests
*.db
**/.env
*.pyc
*.log
._*
.DS_Store
data
docs
docker/Dockerfile
docker/compose.yml
.gitignore
